# Root
.env
*.log

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/
*.iml
*.swp

# OS
.DS_Store
Thumbs.db

# Flutter build artifacts
**/build/
**/.dart_tool/
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/

# Flutter generated
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/macos/Flutter/ephemeral/
**/linux/flutter/ephemeral/
**/windows/flutter/ephemeral/

# Symbolication
*.symbols
*.map.json

# Android
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/.gradle/
**/android/local.properties
